@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

#logo_index {
  padding-right: 40px;
}

#userName {
  margin: 15px;
}

/* Colores y estilos de Binance para los botones */
.btn-login,
.btn-signup {
  background-color: #f3ba2f;
  color: #fafaff;
  border: none;
  font-size: 18px;
  transition: background-color 0.5s ease;
}

.btn-login:hover,
.btn-signup:hover {
  background-color: #ffa400;
}

/* Estilo de los enlaces de navegación */
.navbar-link {
  font-size: 14px;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.navbar-link:hover {
  background-color: #6c757d;
}

.hide {
  pointer-events: auto;
  opacity: 0;
}

.access-container {
  display: flex;
  background-color: rgba(95, 95, 82, 0.3);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.access {
  display: block;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.access h2 {
  margin: 0;
}
.access p {
  opacity: 0.7;
  font-size: 14px;
}
.access label {
  display: block;
  text-align: start;
  margin: 1%;
  font-size: 18px;
}
.access input {
  display: block;
  align-items: start;
  border-radius: 5px;
}

.btn-form {
  float: left;
  margin: 25px 20px 0px 50px;
  background-color: #f3ba2f;
  color: #000005;
  border: none;
  font-size: 18px;
  transition: background-color 0.5s ease;
}

.alert-container {
  display: flex;
  background-color: rgba(95, 95, 82, 0.3);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.showAlert {
  pointer-events: auto;
  opacity: 1;
}

.box {
  display: block;
  background-color: #e2e2c0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 150px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 10px;
  text-align: center;
}
.box p {
  font-size: 23px;
  color: red;
}

.contract {
  display: block;
  background-color: #e2e2c0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 150px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 10px;
  text-align: center;
}
.contract p {
  font-size: 23px;
  color: red;
}

.button-cross {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.button-cross::before,
.button-cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.button-cross::before {
  transform: translateY(-50%) rotate(45deg);
}

.button-cross::after {
  transform: translateY(-50%) rotate(-45deg);
}

.register-container {
  display: flex;
  background-color: rgba(95, 95, 82, 0.3);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.showR {
  pointer-events: auto;
  opacity: 0;
}

.register {
  display: block;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.register h2 {
  margin: 0;
}
.register p {
  opacity: 0.7;
  font-size: 14px;
}
.register label {
  display: block;
  text-align: start;
  margin: 1%;
  font-size: 18px;
}
.register input {
  display: block;
  align-items: start;
  border-radius: 5px;
}

.btn-form {
  float: left;
  margin: 25px 20px 0px 50px;
  background-color: #f3ba2f;
  color: #000005;
  border: none;
  font-size: 18px;
  transition: background-color 0.5s ease;
}

.pattern-bg {
  background-color: black;
}

.index h1 {
  color: white;
  text-align: center;
}
.index p {
  color: rgba(253, 229, 229, 0.562);
  margin: 35px 200px 20px 200px;
}

.neon {
  font-size: 6em;
  font-weight: 500;
  color: #222;
  letter-spacing: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 1s;
}
.neon:hover {
  color: #fff;
  text-shadow: 0 0 5px #f5f108, 0 0 25px #f5f108, 0 0 50px #f5f108, 0 0 100px #f5f108;
}

.subtitle {
  color: white;
  text-align: center;
}

.services h3 {
  color: white;
  text-align: left;
  margin-left: 200px;
  margin-bottom: 3%;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 5%;
  margin: 20px 100px 20px 250px;
  grid-gap: 20px;
  justify-content: center;
}

.card {
  width: 300px;
  height: 350px;
  border-color: black;
  box-shadow: 0 0 5px 5px #f3ba2f;
  border-width: 3px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.card p {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  color: rgb(0, 0, 0);
  margin: 15px;
}
.card h2 {
  font-size: 22px;
  color: black;
  text-align: center;
}
.card:hover {
  transform: scale(1.04);
}

.line-container {
  margin-bottom: 20px;
}

.custom-line {
  border: black;
  border-top: 4px solid #dfa20a;
  height: 0;
  width: 90%;
  margin: 0 auto;
}

.btn-card {
  align-items: center;
  align-content: center;
  size: 25px;
  color: #dfa20a;
}

@media (max-width: 1450px) {
  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
  .card {
    width: 300px;
    height: 550px;
  }
  .card p {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    color: black;
    margin: 5%;
  }
  .footer {
    display: none;
  }
}
@media (max-width: 980px) {
  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
  .card {
    width: 300px;
    height: 400px;
  }
  .card p {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    color: black;
    margin: 5%;
  }
  .footer {
    display: none;
  }
}
.frequent_questions h4 {
  color: white;
  text-align: start;
  margin: 30px 10px 10px 200px;
}

.readMore_btn {
  background-color: black;
  color: #f3ba2f;
  border: 1px solid #ccc;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 2px;
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
}

.readMore_btn:hover {
  background-color: white;
}

.hide {
  display: none;
  color: white;
  font-size: 18px;
  margin: 15px 200px 10px 230px;
}

.hide2 {
  display: none;
}

.show {
  display: block;
}

.hide3 {
  display: none;
}

.hide4 {
  display: none;
}

.hide5 {
  display: none;
}

.video_how {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 800px;
  height: 500px;
  border: 1px solid white;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*El código aqui presente define los estilos para un contenedor,
 una tarjeta de contacto, controles de formulario y estrellas.
 El contenedor se ha configurado para que se centre en la pantalla
 con display flex y los elementos dentro de él se alineen en el centro.
 La tarjeta de contacto tiene un ancho máximo de 800px, un borde redondeado,
 sombra y margen. Se han aplicado reglas de medios para ajustar la tarjeta
 a dispositivos más pequeños. Los controles del formulario tienen una 
 sombra nula cuando se enfocan. Las estrellas tienen un color diferente 
 cuando están activas.*/
.container-fluid {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  justify-content: center;
}

.contact-card {
  height: 650px;
  width: 600px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20%;
  margin-bottom: 20%;
}

.form-gr {
  text-align: start;
  font-size: 18px;
  margin: 15px;
  color: white;
}

.title-form {
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
  color: white;
}

.button-send {
  text-align: center;
  align-items: center;
  height: 30px;
  width: 70px;
  font-size: 15px;
  color: black;
  margin-left: 45%;
  border: 2px ridge #ffffff;
}
.button-send:hover {
  transform: scale(1.18);
  background-color: #f3ba2f;
  color: #d1d1d1;
}

@media (max-width: 850px) {
  .contact-card {
    height: 750px;
    width: 300px;
  }
}
.form-control:focus {
  box-shadow: none;
}

.contact-line {
  border: white;
  border-top: 2px solid #fff;
  height: 0;
  width: 70%;
  margin: 0 auto;
}

.wrapper {
  min-height: calc(100% - 50px); /* Establece la altura mínima del contenedor principal, dejando espacio para el footer */
  padding-bottom: 50px; /* Añade un padding inferior igual a la altura del footer */
}

footer {
  position: relative;
  bottom: 0;
  background-color: #0f1115; /* Establece el color de fondo del footer */
  color: #fff; /* Establece el color de texto del footer */
  padding-top: 30px; /* Añade un espacio en la parte superior del footer */
  padding-bottom: 30px; /* Añade un espacio en la parte inferior del footer */
  margin-top: 50px; /* Añade un margen superior */
}

footer p {
  margin-bottom: 0; /* Elimina el margen inferior de los párrafos */
}

.container {
  max-width: 1140px; /* Establece el ancho máximo del contenedor del footer */
  margin: 0 auto; /* Centra el contenedor del footer */
}

.social-media {
  text-align: right; /* Alinea las redes sociales a la derecha */
}

.social-media a {
  display: inline-block;
  margin-left: 10px; /* Agrega un margen entre las redes sociales */
  color: #fff;
  font-size: 20px;
}

.social-media a:hover {
  color: #ccc; /* Cambia el color de las redes sociales al hacer hover */
}

.social-media i {
  vertical-align: middle;
}

.fa-twitter:before {
  content: "\f099"; /* Cambia el icono de Twitter */
}

.fa-facebook:before {
  content: "\f09a"; /* Cambia el icono de Facebook */
}

.fa-instagram:before {
  content: "\f16d"; /* Cambia el icono de Instagram */
}

svg {
  height: 25px;
  width: 25px;
}

/*# sourceMappingURL=styles.css.map */
