.frequent_questions{

    h4{
        color: white;
        text-align: start;
        margin: 30px 10px 10px 200px;
    }
}

.readMore_btn{
    background-color: black;
    color: #f3ba2f;
    border: 1px solid #ccc;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 2px;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
  }
  

  
  .readMore_btn:hover {
    background-color: white;
  }
  

  .hide{
    display: none;
    color: white;
    font-size: 18px;
    margin: 15px 200px 10px 230px;
  }

  .hide2{
    display: none;
  }

  .show{
    display: block;
  }


  .hide3{
    display: none;
  }
  


  .hide4{
    display: none;
  }
  


  .hide5{
    display: none;
  }
  




  